<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Uning uningan</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="{{ url_for('static', filename='anim.js') }}" defer></script>
</head>

<body>
    <div id="background"></div>
    <header>
        <div> <img src="../static/steve.jpg" alt="logo imac" href="#" /> </div>
        <div class="lien">
            <a href="#">Accueil</a>
            <a href="/register">Inscription</a>
            <a href="/login">Connexion</a>
        </div>
    </header>
    <main>
        <h1>BIENVENUE</h1>
        <p>En galère pour trouver votre âme soeur dans ce monde hostile et sans pitié? Vous êtes tombés au bon endroit ! 
            Bienvenue sur le site où vous trouverez votre âme soeur en un rien de temps, en utilisant vos goûts musicaux.</p>
        <p>Inscrivez-vous dès maintenant pour commencer à matcher avec des personnes qui partagent vos passions musicales !</p>
        <div id="button-container">
            <a href="/register"><button class="button">S'inscrire</button></a>
            <a href="/login"><button class="button">Se connecter</button></a>
        </div>
    </main>

</body>

</html>