<!DOCTYPE html>
<html>

<head>
    <meta http-equiv= "content-type" content= "text/html; charset=UTF-8" >
    <title>Uning uningan</title>
    <link rel="icon" type="image" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="static/style.css">
    <script src="{{ url_for('static', filename='anim.js') }}" defer></script>
</head>

<body>
    <div id="background"></div>
    <header>
        <div> <a href="/">
            <img src="../static/steve.png" alt="Logo de Uning uningan" class="logo">
        </a></div>
        <div class="lien">
            {% if session.user %}
                <span>Bienvenue, {{ session.user }} !</span>
                <a href="/">Accueil</a>
                <a href="/profile">Profil</a>
                <a href="/logout">Déconnexion</a>
            {% else %}
                <a href="/">Accueil</a>
                <a href="/register">Inscription</a>
                <a href="/login">Connexion</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="site-footer">
        <p>&copy; Uning Uningan 2025</p>
    </footer>    
</body>
</html>
