{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1> BONJOUR {{session['user']}}</h1>
<span>Voici tes likes:</span>
<ul>
    {% for (title,artist,genre) in data %}
    <li>{{ title }} de {{artist}} -- {{genre}}</li>
    {% endfor %}
</ul>

<a href='/match'><button class="boutonSlay">IT'S TIME TO MATCH</button></a>
<a href="/saisie"><button class="boutonSlay2">Liker mes musiques</button></a>

<div class="boutons-container">
    <a href='/updateprofile'><button class="bouton3">Modifier mon profil</button></a>
    <a href='/logout'><button class="bouton3">Se déconnecter</button></a>
</div>

{% endblock %}