<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Uning uningan</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>inscription</h1>

    <form method="post">
        <input type="firstName" name="firstName" placeholder="firstName" required>
        <input type="lastName" name="lastName" placeholder="lastName" required>
        <input type="userName" name="userName" placeholder="userName" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">S'inscrire</button>
    </form>

    <a href="/">Home</a>
    <a href="/login">Connexion</a>
</body>

</html>