{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Choisissez vos musiques coups de coeur !</h1>
<div class="musics-container">
  <div>
    <h3>Musiques likées</h3>
    <ul id="liked-music-list"></ul>
  </div>
  <div>
    <h3>Autres musiques</h3>
    <ul id="not-liked-music-list"></ul>
  </div>
</div>

<script>
  async function fetchMusics() {
    const response = await fetch('/api/musics');
    const data = await response.json();

    const likedList = document.getElementById('liked-music-list');
    const notLikedList = document.getElementById('not-liked-music-list');

    likedList.innerHTML = '';
    notLikedList.innerHTML = '';

    data.liked.forEach(music => {
      const li = createMusicItem(music, true);
      likedList.appendChild(li);
    });

    data.not_liked.forEach(music => {
      const li = createMusicItem(music, false);
      notLikedList.appendChild(li);
    });
  }

  function createMusicItem(music, isLiked) {
    const li = document.createElement('li');
    li.textContent = `${music[1]} de ${music[2]} — Genre : ${music[3]}`;

    const button = document.createElement('button');
    button.textContent = isLiked ? 'Unlike' : 'Like';
    button.classList.add('likeBouton'); // Ajout de la classe CSS
    button.onclick = async () => {
      const url = `/api/musics/${music[0]}/${isLiked ? 'unlike' : 'like'}`;
      await fetch(url, { method: 'POST' });
      fetchMusics();
    };

    li.appendChild(button);
    return li;
  }

  document.addEventListener('DOMContentLoaded', fetchMusics);
</script>
{% endblock %}